@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0077ff;
}

.wrapper {
    width: 370px;
    border-radius: 7px;
    padding: 25px 30px;
    background: #fff;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}

.wrapper header {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.wrapper form {
    margin: 35px 0 20px;
}

form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form .row label {
    font-size: 18px;
    margin-bottom: 5px;
}

form :where(textarea, select, button) {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
}

form .row textarea {
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #999;
}

form .row .outer {
    height: 47px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #999;
}

form .row .outer select {
    font-size: 14px;

}

button {
    padding: 10px 15px;
    background: #0077ff;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #026be4;
}