* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background: slateblue;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.hover {
    transform: scale(2)
}