body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 10px;
    background: #f8f8f8;
    font-family: sans-serif;
}

.btn {
    text-decoration: none;
    background: #f8506c;
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
   position: absolute;
   content: "";
   width: 0;
   height: 0; 
   background: #d60225;
   left: var(--xPos);
   top: var(--yPos);
   transform: translate(-50%, -50%);
   border-radius: 50%;
   transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}

.btn-2 {
   text-decoration: none;
   margin-top: 1em;
   padding: 20px 40px;
   background: #2790f8;
   color: white;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.3);
   position: relative;
   overflow: hidden;
}

.btn-2 span {
    position: relative;
    z-index: 1;
}

.btn-2::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    background: #0158af;
    top: var(--yPos); 
    left: var(--xPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn-2:hover::before {
    width: 300px;
    height: 300px;
}